@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

.center {
  padding-left: calc((100% - 1120px) / 2);
  padding-right: calc((100% - 1120px) / 2);
}

.card {
  width: 255px;
  height: 274px;
  background: #ffffff;
  -webkit-box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
          box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
  border-radius: 10px;
  padding: 26px 28px;
}

.card-icon {
  width: 69px;
  height: 69px;
}

.card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #19191b;
  padding-top: 23px;
  padding-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 140%;
  color: #696871;
}

.modal-cookie {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 478px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  -webkit-box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
          box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
  border-radius: 8px;
  padding: 20px;
  z-index: 100;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal-cookie__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-cookie__text {
  font-size: 14px;
  line-height: 140%;
  color: #19191b;
}

.modal-cookie__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}

.modal-cookie__button-manage {
  background: #ffffff;
  border: 1px solid #0f253e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #0f253e;
  padding: 8px 20px;
  margin-right: 15px;
  text-decoration: none;
}

.modal-cookie__button-accept {
  background: #0f253e;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 20px;
  text-decoration: none;
}

@-webkit-keyframes phoneAnimate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-320%);
            transform: translateX(-320%);
  }
}

@keyframes phoneAnimate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-320%);
            transform: translateX(-320%);
  }
}

@-webkit-keyframes showFromLeft {
  0% {
    opacity: 0;
    right: 100%;
  }
  100% {
    opacity: 1;
    right: -50px;
  }
}

@keyframes showFromLeft {
  0% {
    opacity: 0;
    right: 100%;
  }
  100% {
    opacity: 1;
    right: -50px;
  }
}

@-webkit-keyframes showFromRight {
  0% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 45px;
  }
}

@keyframes showFromRight {
  0% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 45px;
  }
}

.top {
  min-height: 100vh;
  background: url(../img/bg-top.svg);
  background-position: top left;
  background-size: auto;
  background-repeat: no-repeat;
}

@media (min-width: 1441px) {
  .top {
    background-size: contain;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr min-content;
      grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
      grid-template-columns: min-content 1fr min-content;
  padding: 20px 35px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 125px;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #19191b;
}

.nav-link:not(:first-child) {
  margin-left: 43px;
}

.auth-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-box__link {
  text-decoration: none;
  background: #f0544c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 11px 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.auth-box__link:hover {
  -webkit-box-shadow: 2px 2px 2px 0px #0f253e4f;
          box-shadow: 2px 2px 2px 0px #0f253e4f;
}

.auth-box__link:active {
  -webkit-box-shadow: inset 2px 2px 2px 0px #0f253e4f;
          box-shadow: inset 2px 2px 2px 0px #0f253e4f;
}

.auth-box__link:not(:first-child) {
  margin-left: 15px;
}

.top-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 109px;
}

.top-content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
}

.top-content__heading-h1 {
  font-weight: 600;
  font-size: 90px;
  line-height: 110%;
  color: #19191b;
}

.top-content__heading-h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #19191b;
  padding: 30px 0 48px;
}

.top-content__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 39px;
  color: #696871;
}

.top-content__text_small {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  padding: 10px 0 24px;
}

.top-content__button {
  text-decoration: none;
  background: #f0544c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 11px 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 19px 93px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.top-content__button:hover {
  -webkit-box-shadow: 2px 2px 2px 0px #0f253e4f;
          box-shadow: 2px 2px 2px 0px #0f253e4f;
}

.top-content__button:active {
  -webkit-box-shadow: inset 2px 2px 2px 0px #0f253e4f;
          box-shadow: inset 2px 2px 2px 0px #0f253e4f;
}

.top-content__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 758px;
}

.top-content__slide-bg {
  position: relative;
  left: 50px;
  width: 100%;
  max-height: 758px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/top-phone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.top-content__cards {
  position: absolute;
  top: 190px;
  right: 135px;
  width: 285px;
  height: 274px;
  padding: 0 15px;
  display: -webkit-box;
  overflow: hidden;
}

.top-content__cards::after {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
}

.top-content__cards:hover .top-content__card {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.top-content__card {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: phoneAnimate 12s infinite;
          animation: phoneAnimate 12s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.top-content__card:not(:first-child) {
  margin-left: 15px;
}

.phone-card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 305px;
}

.phone-card_top {
  top: 88px;
  left: 45px;
  background: #5454d4;
  -webkit-box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
          box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
  border-radius: 8px;
  padding: 21px 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: showFromRight 0.6s 1;
          animation: showFromRight 0.6s 1;
  /* Указываем название анимации, её время и количество повторов*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */
}

.phone-card_bottom {
  right: -50px;
  bottom: 220px;
  background: #fedc5a;
  -webkit-box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
          box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
  border-radius: 8px;
  padding: 20px 21px;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: showFromLeft 0.6s 1;
          animation: showFromLeft 0.6s 1;
  /* Указываем название анимации, её время и количество повторов*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */
}

.phone-card__icon {
  margin-right: 15px;
}

.phone-card__text {
  font-size: 16px;
  line-height: 22px;
  color: #19191b;
}

.phone-card__text_white {
  color: #ffffff;
}

.software {
  padding-top: 120px;
  padding-bottom: 120px;
}

.software-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 110%;
  color: #696871;
}

.softwae-hr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  height: 1px;
  background: #eae9f2;
  margin-left: 15px;
}

.software-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.software-icon {
  width: 32px;
  height: 32px;
}

.projects {
  background-color: #f9f9fe;
  background: url(../img/bg-project.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 167px;
  padding-bottom: 187px;
}

.projects-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 96px;
}

.projects-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects-title {
  max-width: 507px;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  margin-bottom: 30px;
}

.projects-text {
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.702469);
}

.how-work {
  background: #f9f9fe;
  padding: 159px 0;
  margin-top: -8px;
}

.how-work__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  color: #2e2e2e;
  margin-bottom: 20px;
}

.how-work__text {
  max-width: 913px;
  font-size: 21px;
  line-height: 39px;
  text-align: center;
  color: #808080;
  margin: 0 auto;
}

.how-work__tabs {
  position: -webkit-sticky;
  position: sticky;
  max-width: 1178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
  margin: 0 auto;
  top: -50px;
  z-index: 100;
}

.how-work__tab {
  background: #ffffff;
  border: 1px solid #d2d2f9;
  padding: 16px 47px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #808080;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.how-work__tab_active {
  position: relative;
  background: #4c4ce6;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 0px 0px #ffffff;
}

.how-work__tab:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.how-work__tab:last-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.how-work__cards {
  max-width: 916px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.how-work__cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-work__cards-item:not(:first-child) {
  margin-top: 60px;
}

.how-work__cards-item:first-child > .how-work__cards-img::after {
  top: 50%;
  bottom: -30px;
}

.how-work__cards-item:last-child > .how-work__cards-img::after {
  top: -30px;
  bottom: 50%;
}

.how-work__cards-item.active .how-work__cards-radio {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.how-work__cards-step {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #666666;
}

.how-work__cards-img {
  position: relative;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-work__cards-img::after {
  position: absolute;
  top: -30px;
  left: 50%;
  bottom: -30px;
  content: '';
  width: 1px;
  background-color: #d2d2f9;
  z-index: 1;
}

.how-work__cards-radio {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.how-work__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 774px;
  height: 218px;
  background: #ffffff;
  border-radius: 8px;
  padding: 29px 38px;
}

.how-work__card-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: #2e2e2e;
  margin-bottom: 15px;
}

.how-work__card-text {
  max-width: 378px;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
}

.how-work__card-rect {
  width: 200px;
  height: 160px;
  background: #ebebeb;
  border-radius: 8px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  background: url(../img/bg-price.svg);
  background-size: auto;
  background-position: right 124px;
  background-repeat: no-repeat;
}

.price-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 540px;
  margin-bottom: 214px;
}

.price-left__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
  color: #1d293f;
  margin-top: 250px;
  margin-bottom: 96px;
}

.price-left__text {
  font-size: 21px;
  line-height: 150%;
  color: #7c8087;
}

.price-left__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 189px;
}

.price-left__advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.price-left__advantages-icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.price-left__advantages-desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #1d293f;
}

.benefits {
  padding-top: 175px;
  padding-bottom: 122px;
  background: url(../img/bg-benefits.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits-hr {
  width: 100%;
  max-width: 1120px;
  height: 1px;
  background: #e5eaf4;
  margin: 100px auto;
}

.benefits-title {
  max-width: 1184px;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #fbfdff;
  margin: 168px auto;
}

.benefits-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  row-gap: 80px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.benefit-icon {
  width: 48px;
  height: 48px;
  margin-right: 24px;
}

.benefit-content__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #fbfdff;
  margin-bottom: 10px;
}

.benefit-content__text {
  max-width: 220px;
  font-size: 16px;
  line-height: 32px;
  color: #fbfbfb;
}

.footer {
  min-height: 1164px;
  background: url(../img/bg-footer.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5px;
}

.footer-title {
  max-width: 712px;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  padding: 298px 0 112px;
}

.footer-accept__labal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-accept__input {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -2000px;
}

.footer-accept__input:checked + .footer-accept__check {
  background: url(../img/checkbox-checked.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-accept__check {
  width: 31px;
  height: 31px;
  background: #c4c4c4;
  border-radius: 3px;
  margin-right: 61px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-accept__link {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #f5f7ff;
}

.footer-button {
  text-decoration: none;
  background: #f0544c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 11px 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 480px;
  padding: 19px 140px;
  margin-top: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.footer-button:hover {
  -webkit-box-shadow: 2px 2px 2px 0px #0f253e4f;
          box-shadow: 2px 2px 2px 0px #0f253e4f;
}

.footer-button:active {
  -webkit-box-shadow: inset 2px 2px 2px 0px #0f253e4f;
          box-shadow: inset 2px 2px 2px 0px #0f253e4f;
}

.footer-button:hover {
  -webkit-box-shadow: 2px 2px 2px 0px #f6f9fc7d;
          box-shadow: 2px 2px 2px 0px #f6f9fc7d;
}

.footer-button:active {
  -webkit-box-shadow: inset 2px 2px 2px 0px #0f253e4f;
          box-shadow: inset 2px 2px 2px 0px #0f253e4f;
}

.footer-nav {
  -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-top: 183px;
}

.footer-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-nav__menu-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-nav__menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-icons {
  margin: 60px 0;
}

.footer-icon {
  width: 16px;
  height: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-icon:not(:first-child) {
  margin-left: 18px;
}

.footer-icon:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.footer-hr {
  background: #2f2f31;
  height: 1px;
  width: 100%;
  max-width: 1111px;
  margin: 0 auto;
}

.footer-copy {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
