.sing-in {
	background-color: #f9f9fe;
	background: url(../img/bg-project.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	width: 100%;
	height: 65vw;

	&__logo {
		width: 127px;
		height: 37px;
	}
	&__form {
		width: 500px;
	}

	&__google,
	&__facebook {
		@include button;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f5f7ff;
		border-radius: 5px;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: #19191b;
		padding: 15px 30px;
		margin-bottom: 15px;
		border: none;
		outline: none;
		& > img {
			margin-right: 20px;
		}
	}
}
.main {
	display: flex;
	justify-content: center;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.form-title {
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	text-align: center;
	color: #ffffff;
	margin-bottom: 40px;
	margin-top: 21px;
}
.form-email,
.form-pass {
	background: #ffffff;
	border-radius: 5px;
	padding: 19px 30px;
	margin-bottom: 10px;
	border: none;
}
.forgot-email,
.forgot-pass {
	align-self: flex-end;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #f5f7ff;
	text-decoration: none;
	margin-bottom: 20px;
	&:hover {
		color: #f0544c;
	}
}
.accept {
	display: flex;
	flex-direction: column;

	&__input {
		width: 1px;
		height: 1px;
		position: absolute;
		left: -20000px;
		&:checked + .accept__label .accept__check {
			background: url(../img/checkbox-checked.svg);
			background-size: contain;
			background-repeat: no-repeat;
		}

		&:checked + .accept__label + .form-button__submit {
			pointer-events: initial;
		}

		&:focus + .accept__label .accept__check {
			outline: 1px solid #007bff;
		}
	}

	&__label {
		display: flex;
		align-items: center;
	}

	&__check {
		width: 30px;
		height: 30px;
		background: #c4c4c4;
		border-radius: 3px;
		margin-right: 20px;
		&:focus {
			outline: 1px solid red;
		}
	}

	&__link {
		font-size: 16px;
		line-height: 22px;
		text-decoration-line: underline;
		color: #f5f7ff;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.form-button__submit {
	@include button;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	padding: 19px 30px;
	margin-top: 30px;
	border: none;
	outline: none;
	pointer-events: none;
}
.form-or {
	align-self: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	padding: 20px;
}

// modal policy

.modal-policy {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000000ba;
	display: none;
	transition: .3s;
	transform: scale(0);


	&__close {
		position: absolute;
		top: 30px;
		right: 33px;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #979797;
		border-radius: 50%;
		color:#979797;
		font-size: 20px;
		line-height: 24px;
		cursor: pointer;
		transition: .3s;
		transform: rotate(45deg);

		&:hover{
			color:red;
			border-color: red;
		}
	}

	&__content {
		position: absolute;
		width: 920px;
		max-height: 96vh;
		left: calc(50% - 460px);
		background: #e5e5e5;
		border-radius: 10px;
		margin: 20px 0;
		padding: 35px 65px 65px;
		overflow: auto;
	}

	&__content-heading {
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		display: flex;
		align-items: center;
		color: #2d2c31;
		margin-bottom: 14px;
		margin-top: 30px;
	}

	&__content-text {
		font-size: 14px;
		line-height: 130%;
		display: flex;
		align-items: center;
		color: #45434e;
		margin-bottom: 10px;
	}
}
