.software {
	padding-top: 120px;
	padding-bottom: 120px;
overflow: hidden;
	@media (max-width: 768px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
.software-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	line-height: 110%;
	color: #696871;
}
.softwae-hr {
	flex-grow: 1;
	display: block;
	height: 1px;
	background: #eae9f2;
	margin-left: 15px;
}
.software-icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	overflow: auto;
	padding-bottom: 20px;

	@media (max-width: 425px) {
        width: 1150px;
		overflow: hidden;
        animation: translateIcons 30s linear infinite alternate;
	}
}
.software-icon {
	width: 32px;
	height: 32px;

	@media (max-width: 425px) {
		margin-right: 40px;
	}
}

.projects {
	background-color: #f9f9fe;
	background: url(../img/bg-project.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
	width: 100%;
	height: 65vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 167px;
	padding-bottom: 187px;

	@media (max-width: 425px) {
		flex-direction: column;
		height: 788px;
		background: url(../img/bg-project_small.svg);
		padding-top: 90px;
		padding-bottom: 80px;
	}
}

.projects-card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	flex-grow: 1;
	margin-right: 96px;
	@media (max-width: 425px) {
		width: 100vw;
		overflow: auto;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
		order: 2;
		margin-right: 0;
		padding-right: 16px;
		padding-left: 16px;
	}
}

.projects-desc {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&__btn {
		align-self: flex-start;
		border: 1px solid #eae9f2;
		border-radius: 5px;
		padding: 16px 70px;
		margin: 30px 0 60px;
		font-family: 'Open Sans';
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		text-align: center;
		color: #ffffff;
		text-decoration: none;
	}
}
.projects-title {
	max-width: 507px;
	font-weight: 600;
	font-size: 60px;
	line-height: 70px;
	color: #ffffff;
	margin-bottom: 30px;
	@media (max-width: 425px) {
		font-size: 32px;
		line-height: normal;
	}
}

.projects-text {
	font-size: 20px;
	line-height: 150%;
	color: rgba(255, 255, 255, 0.702469);
	@media (max-width: 425px) {
		font-size: 14px;
		line-height: normal;
	}
}
