.top {
	min-height: 100vh;
	background: url(../img/bg-top.svg);
	background-position: top left;
	background-size: auto;
	background-repeat: no-repeat;

	@media (min-width: 1441px) {
		background-size: contain;
	}
}

.header {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	padding: 20px 35px;
	align-items: center;

	@media (max-width: 768px) {
		padding: 16px;
	}

	&-nav {
		@media (max-width: 768px) {
			order: 2;
		}
		& .burger-open {
			display: none;
			transition: 0.3s;
			@media (max-width: 768px) {
				display: flex;
				transform: scale(1);
			}
		}

		& #burger-checkbox:checked + .burger-open {
			transform: scale(0);
		}

		& #burger-checkbox:checked ~ .nav > .burger-close {
			display: flex;
		}

		& #burger-checkbox:checked ~ .nav {
			@media (max-width: 768px) {
				transform: translateX(0);
			}
		}
	}
}

.header-logo {
}
.nav {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 125px;
	transition: 0.3s;

	@media (max-width: 768px) {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		max-width: 375px;
		width: 100%;
		background: #000000cf;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 16px;
		z-index: 9999;
		transform: translateX(-400px);
	}

	& > .burger-close {
		display: none;
		margin-left: auto;
	}
}
.nav-link {
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #19191b;
	&:not(:first-child) {
		margin-left: 43px;
	}

	@media (max-width: 768px) {
		color: white;
		margin-left: 0 !important;
		font-size: 20px;
		line-height: 2;
	}
}
.auth-box {
	display: flex;
	align-items: center;

	&__link {
		@include button;
		@media (max-width: 768px) {
			margin: 0 38px 0 auto;
			color: #1818e8;
			background: transparent;
		}
	}
}

.top-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 109px;

     @media (max-width: 1024px){
padding: 16px;
        }
	@media (max-width: 425px) {
		grid-template-columns: 1fr;

	}

	&__left {
		display: flex;
		flex-direction: column;
		padding-top: 60px;
	}

	&__heading-h1 {
		font-weight: 600;
		font-size: 90px;
		line-height: 110%;
		color: #19191b;
		@media (max-width: 768px) {
			font-size: 50px;
		}
	}

	&__heading-h3 {
		font-weight: 600;
		font-size: 30px;
		line-height: 100%;
		color: #19191b;
		padding: 30px 0 48px;
		@media (max-width: 768px) {
			font-size: 17px;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 39px;
		color: #696871;
		&_small {
			font-weight: normal;
			font-size: 16px;
			line-height: 160%;
			padding: 10px 0 24px;
		}

		@media (max-width: 768px) {
			font-size: 12px;
			&_small {
				font-size: 12px;
			}
		}
	}

	&__button {
		@include button;
		padding: 19px 93px;
		align-self: flex-start;
		@media (max-width: 425px) {
			align-self: center;
		}
	}

	&__slide {
		display: flex;
		height: 758px;

		@media (max-width: 425px) {
			height: 418px;
		}
	}

	&__slide-bg {
		position: relative;
		left: 50px;
		width: 100%;
		max-height: 758px;
		display: flex;
		background: url(../img/top-phone.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;


		@media (max-width: 425px) {
			left: 0;
			background-position: center;
			margin-top: 53px;
		}
	}

	&__cards {
		position: absolute;
		top: 190px;
		right: 135px;
		width: 285px;
		height: 274px;
		padding: 0 15px;
		display: -webkit-box;
		overflow: hidden;
		@media (max-width: 425px) {
			display: none;
		}
		&::after {
			content: '';
			display: block;
			width: 1rem;
			height: 1rem;
		}

		&:hover .top-content__card {
			animation-play-state: paused;
		}
	}

	&__card {
		transition: 0.3s;
		animation: phoneAnimate 12s infinite;
		animation-timing-function: linear;
		animation-direction: alternate;
		&:not(:first-child) {
			margin-left: 15px;
		}
	}
}

.phone-card {
	position: absolute;
	display: flex;
	align-items: center;
	width: 305px;

	@media (max-width: 425px) {
		width: 168px;
	}

	&_top {
		top: 88px;
		left: 45px;
		background: #5454d4;
		box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
		border-radius: 8px;
		padding: 21px 18px;
		transition: 0.3s;
		animation: showFromRight 0.6s 1; /* Указываем название анимации, её время и количество повторов*/
		animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
		@media (max-width: 425px) {
			padding: 12px;
			top: 40px;
			left: 16vw !important;
		}
	}

	&_bottom {
		right: -50px;
		bottom: 220px;
		background: #fedc5a;
		box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
		border-radius: 8px;
		padding: 20px 21px;
		z-index: 10;
		transition: 0.3s;
		animation: showFromLeft 0.6s 1; /* Указываем название анимации, её время и количество повторов*/
		animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
		@media (max-width: 425px) {
			padding: 12px;
			right: 0;
			left: 35vw;
			bottom: 90px;
		}
	}

	&__icon {
		margin-right: 15px;
		@media (max-width: 425px) {
			height: 17px;
			width: 17px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 22px;
		color: #19191b;
		@media (max-width: 425px) {
			font-size: 10px;
			line-height: normal;
		}
		&_white {
			color: #ffffff;
		}
	}
}
