
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Poppins', sans-serif;
}

.page {
	// max-width: 1440px;
	// margin: 0 auto;
	// padding-bottom: 50px;
}

.center {
	padding-left: calc((100% - 1120px) / 2);
	padding-right: calc((100% - 1120px) / 2);

    @media (max-width: 768px) {
        padding: 0 4.3%;
    }
}

.logo {
}

.card {
	width: 255px;
	height: 274px;
	background: #ffffff;
	box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
	border-radius: 10px;
	padding: 26px 28px;
}
.card-icon {
	width: 69px;
	height: 69px;
}
.card-title {
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	color: #19191b;
	padding-top: 23px;
	padding-bottom: 10px;
}
.card-text {
	font-size: 16px;
	line-height: 140%;
	color: #696871;
}

// modals
.modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000000ba;
	transform: scale(0);
	z-index: 9999;
	transition: .3s;
	&_show {
		display: block;
		transition: all 0.3s 0.3s;
		transform: scale(1);
	}

	&-btn__close {
		position: absolute;
		top: 30px;
		right: 33px;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #979797;
		border-radius: 50%;
		color: #979797;
		font-size: 20px;
		line-height: 24px;
		cursor: pointer;
		transition: 0.3s;
		transform: rotate(45deg);

		&:hover {
			color: red;
			border-color: red;
		}
	}

	&-content {
		position: absolute;
		width: 920px;
		max-height: 96vh;
		left: calc(50% - 460px);
		background: #e5e5e5;
		border-radius: 10px;
		margin: 20px 0;
		padding: 35px 65px 65px;
		overflow: auto;
        @media (max-width:425px) {
            width: 98%;
            left: 5px ;
            right: 5px;
            padding: 35px 16px 65px;
        }
	}

	&-content__heading {
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		color: #2d2c31;
		margin-bottom: 14px;
		margin-top: 30px;
	}

	&-content__heading-h6 {
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		color: #45434e;
	}

	&-content__text {
		font-size: 14px;
		line-height: 130%;
		color: #45434e;
		margin-bottom: 10px;
	}

	&-btns {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		margin-top: 40px;
	}

	&-btn {
		background: #ffffff;
		border: 1px solid #0f253e;
		outline: none;
		box-sizing: border-box;
		border-radius: 4px;
		color: #0f253e;
		padding: 8px 20px;
		margin-right: 15px;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.3s;

		&_disabled{
			pointer-events: none;
		}
		opacity: .7;

		&:hover {
			box-shadow: 2px 2px 10px 0px #9d9999;
		}

		&:active {
			box-shadow: none;
		}

		&_black {
			background: #0f253e;
			color: #ffffff;
		}
	}
}

.modal-manage {
	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		background: #ffffff;
		box-shadow: 0px 4px 4px rgba(218, 218, 218, 0.2);
		border-radius: 4px;
		padding: 20px 30px 40px;
		margin-top: 15px;
		min-height: 130px;
		transition: 0.3s;

		&_open {
			min-height: 700px;

			& .modal-manage__info-text_short {
				display: none;
			}

			& .modal-manage__info-text_full {
				max-height: 800px;
			}
		}
	}

	&__info-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}

	&__info-heading {
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		display: flex;
		align-items: center;
		color: #2d2c31;
	}

	&__info-input {
		width: 1px;
		height: 1px;
		position: absolute;
		left: -20000px;
		&:checked + .modal-manage__info-check {
			&::after {
				left: 22px;
			}
			background-color: #2673d3;
		}
	}

	&__info-check {
		position: relative;
		min-width: 50px;
		min-height: 30px;
		border-radius: 30px;
		background-color: #ccc;
		cursor: pointer;
		&::after {
			position: absolute;
			top: 2px;
			left: 2px;
			content: '';
			display: block;
			width: 26px;
			height: 26px;
			border-radius: 100%;
			background-color: #fff;
			transition: 0.3s;
		}
	}

	&__info-text {
		font-size: 14px;
		line-height: 130%;
		color: #45434e;
		overflow: hidden;
		&_full {
			max-height: 0;
			transition: 0.2s;
		}

		& > p {
			padding-top: 10px;
		}
	}

	&__info-btn {
		position: absolute;
		bottom: 20px;
		right: 30px;
		font-size: 14px;
		line-height: 18px;
		text-decoration-line: underline;
		color: #2673d3;
		background: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.modal-cookie {
	position: fixed;
	right: 5px;
	bottom: 5px;
	width: 478px;
	height: 125px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #ffffff;
	box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.198973);
	border-radius: 8px;
	padding: 20px;
	z-index: 100;
	transform: scale(0);
	transition: 0.3s;

    @media (max-width:425px) {
        width: 98%;
    }

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		&:hover {
		}
	}
	&__text {
		font-size: 14px;
		line-height: 140%;
		color: #19191b;
	}

	&__buttons {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 14px;
		line-height: 100%;
		text-align: center;
	}

	&__button-manage {
		background: #ffffff;
		border: 1px solid #0f253e;
		outline: none;
		box-sizing: border-box;
		border-radius: 4px;
		color: #0f253e;
		padding: 8px 20px;
		margin-right: 15px;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			box-shadow: 2px 2px 10px 0px #9d9999;
		}

		&:active {
			box-shadow: none;
		}
	}

	&__button-accept {
		background: #0f253e;
		border-radius: 4px;
		border: none;
		outline: none;
		color: #ffffff;
		padding: 8px 20px;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			box-shadow: 2px 2px 10px 0px #9d9999;
		}

		&:active {
			box-shadow: none;
		}
	}
}

//Mixins
@mixin button {
	text-decoration: none;
	background: #f0544c;
	border-radius: 5px;
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	color: #ffffff;
	padding: 11px 18px;
	transition: 0.2s;
	cursor: pointer;
	&:hover,
	&:focus {
		border: none;
		outline: none;
		box-shadow: 2px 2px 2px 0px #0f253e4f;
	}

	&:active {
		box-shadow: inset 2px 2px 2px 0px #0f253e4f;
	}
}

// Animations
@keyframes phoneAnimate {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-320%);
	}
}

// animation icons
@keyframes translateIcons {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-70%);
	}
}

@keyframes showFromLeft {
	0% {
		opacity: 0;
		right: 100%;
	}
	100% {
		opacity: 1;
		right: -50px;
	}
}

@keyframes showFromRight {
	0% {
		opacity: 0;
		left: 100%;
	}
	100% {
		opacity: 1;
		left: 45px;
	}
}

// imports

@import 'top';
@import 'software-project';
@import 'how-work';
@import 'price';
@import 'benefits';
@import 'footer';
@import 'sing-in';


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

